@model IEnumerable<OnlineStore.Data.Models.User>

<h2>Список пользователей</h2>
<a asp-action="Index" asp-controller="Roles" class="btn btn-outline-dark">Назад</a>
<table class="table" style="color:aliceblue">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-outline-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
            </td>
        </tr>
    }
</table>