@model OnlineStore.Data.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}
@{ 
    Layout = null;
}

<head>
    <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <h1 style="text-align:center; margin-top:50px;">Регистрация нового пользователя</h1>

    <form method="post" asp-controller="Account" asp-action="Register" style="text-align:center;">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" type="email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName"></label> <br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label> <br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label> <br />
            <input asp-for="Address" />
            <span asp-validation-for="Address"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label> <br />
            <input asp-for="PhoneNumber" type="number" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>

        <div class="form-group">
            <label asp-for="Birthday"></label> <br />
            <input asp-for="Birthday" type="date" />
            <span asp-validation-for="Birthday"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label> <br />
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordConfirm"></label> <br />
            <input asp-for="PasswordConfirm" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Регистрация" class="btn btn-outline-success" />
        </div>
        
    </form>
</body>


