@model EditReviewViewModel
@{
    ViewData["Title"] = "Редактирование отзыва";
}

<h1>Редактирование отзыва</h1>

<form method="post" asp-action="Edit" asp-controller="Review">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        @for (var i = 0; i <= 5; i++)
        {
            <input type="radio" asp-for="Rating" value="@i"> @i
        }
        <span asp-validation-for="Rating"></span>
    </div>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="form-group">
        <input type="submit" class="btn btn-outline-success" />
    </div>
</form>