@model IEnumerable<Article>
@{
    ViewData["Title"] = "Все товары";
}

<h1>Все товары</h1>
<div class="row mt-5 mb-2">


@{
    foreach (Article article in @Model)
    {
        @Html.Partial("ShowArticles", article);
    }
}


</div>

