@model IEnumerable<Article>
@{
    ViewData["Title"] = "Все товары";
}

<form asp-action="Search" asp-controller="Articles" method="post">
    <input type="text" name="searchstring"  />
    <input type="submit" value="Найти" class="btn btn-outline-primary" />
</form>

<h1>Все товары</h1>
<div class="row mt-5 mb-2">


@{
    foreach (Article article in @Model)
    {
        @Html.Partial("ShowArticles", article);
    }
}


</div>

